body {
 background-color: rgb(248, 111, 47);
 font-family: 'Times New Roman', Times, serif;
 color: rgb(255, 232, 197);
}

/* . viittaa class attribuuttiin*/
.punainen {
    color: rgb(235, 0, 0);
}

/* # viittaa id attribuuttiin*/

#font1 {
    font-size: 50px;
}

#font2 {
    font-size: 25px;
}

#font3 {
    font-size: 20px;
}